:root{
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: #111528;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}
.darkmode{
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --secondary-text: #a4a5b8;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}

body{
  min-height: 100vh;
  background-color: var(--base-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

section{
  background-color: var(--base-variant);
}

p{
  color: var(--secondary-text);
}

#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

#theme-switch:hover{
  transform: scale(1.1);
}

#theme-switch svg{
  fill: var(--primary-color);
}

#theme-switch svg:last-child{
  display: none;
}

.darkmode #theme-switch svg:first-child{
  display: none;
}

.darkmode #theme-switch svg:last-child{
  display: block;
}

#scroll-to-top{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  cursor: pointer;
  border: none;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#scroll-to-top svg{
  stroke: var(--primary-color);
  width: 30px;
  height: 30px;
}

.darkmode #scroll-to-top svg:first-child{
  display: none;
}
.darkmode #scroll-to-top svg:last-child{
  display: block;
}

#scroll-to-top{
  background-color: var(--base-variant);
  transform: scale(1);
}

#scroll-to-top:hover {
  background-color: var(--base-variant);
  transform: scale(1.1);
}

.darkmode .header{
  background-color: var(--base-variant);
  color: var(--text-color);
  border-bottom: 1px solid var(--primary-color);
}

.darkmode nav a{
  color: var(--text-color) !important;
}

.darkmode nav a:hover{
  color: var(--base-color) !important;
}

.darkmode .footer {
  background-color: var(--base-variant);
  color: var(--text-color);
  border-top: 1px solid var(--primary-color);
}

.darkmode .footer p, .darkmode .footer a, .darkmode .footer h4{
  color: var(--text-color) !important;
}

.darkmode .liga-container{
  background-color: var(--base-variant);
  color: var(--text-color);
  border: 1px solid var(--primary-color);
}

.darkmode .upcoming-matches{
  background-color: var(--base-variant);
  color: var(--text-color);
  border: 1px solid var(--primary-color);
}

.darkmode .club{
  background: var(--base-variant);
  border: 1px solid var(--primary-color);
}

.darkmode .club-points{
  background: var(--primary-color);
  color: var(--text-color);
}

.darkmode .club-item{
  background: var(--base-variant);
  border: 1px solid var(--primary-color);
}

.darkmode .club-item:hover{
  background: var(--primary-color);
}

.darkmode .match{
  background: var(--base-variant);
  border: 1px solid var(--primary-color);
}

.darkmode .club > *, .match > *{
  color: var(--text-color);
}

.darkmode .main-news{
  background-color: var(--base-variant);
  color: var(--text-color);
  border-bottom: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-color);
}

.darkmode .secondary-news{
  background-color: var(--base-variant);
  color: var(--text-color);
  border-bottom: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-color);
}

.darkmode .news-item{
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1px solid var(--primary-color);
}

.darkmode .news-title{
  color: var(--text-color);
}

.darkmode .news-summary{
  color: var(--secondary-text);
}

h1, h2{
  color: var(--text-color) !important;
}

.darkmode .header-section{
  background-color: var(--base-variant);
  color: var(--text-color);
  box-shadow: 0px 4px 23px 8px rgba(125, 125, 125, 0.05) !important;
}

.darkmode .liga-year, .nota-explicativa{
  color: var(--secondary-text);
}

.darkmode .scoreboard-portugal{
  background-color: var(--base-variant);
  color: var(--text-color);
  box-shadow: 0px 4px 23px 8px rgba(125, 125, 125, 0.05) !important;
}

.darkmode main > .content{
  background-color: inherit;
  box-shadow: none !important;
}

.darkmode .header-section > .content{
  box-shadow: none !important;
}

.darkmode .content article{
  background-color: var(--base-variant);
  color: var(--text-color);
  box-shadow: 0px 4px 23px 8px rgba(125, 125, 125, 0.25) !important;
}

.darkmode .content:has(article){
  background-color: var(--base-variant);
  color: var(--text-color);
  box-shadow: 0px 4px 23px 8px rgba(125, 125, 125, 0.25) !important;
}

.darkmode .content article p{
  color: var(--secondary-text);
}

.darkmode .main-fader {
  background-color: #232738 !important;
}