:root{
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: #111528;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}
.darkmode{
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --secondary-text: #a4a5b8;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}
body{
  min-height: 100vh;
  background-color: var(--base-color);
  color: var(--text-color);
}
section{
  background-color: var(--base-variant);
}
p{
  color: var(--secondary-text);
}
#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
#theme-switch svg{
  fill: var(--primary-color);
}
#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}

#scroll-to-top{
  background-color: var(--base-color);
  transform: scale(1.1);
}

#scroll-to-top:hover {
  background-color: var(--base-variant);
  transform: scale(1.1);
}