
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff; /* Cor de fundo branca */
    color: #333; /* Cor do texto */
    border-bottom: 1px solid #ddd; /* Linha separadora discreta */
}

.logo img {
    height: 50px; /* Ajuste o tamanho do logo */
}

/* Navegação */
nav {
    display: flex;
    gap: 15px; /* Espaço entre os links */
}

nav a {
    text-decoration: none;
    color: #333; /* Cor do texto */
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-buttons button:hover {
    background-color: #555;
    color: #ddd;
}

nav a:hover {
    background-color: #f0f0f0; /* Fundo cinza claro ao passar o mouse */
    color: #000; /* Texto preto ao passar o mouse */
}

/* Responsivo */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        flex-wrap: wrap;
        gap: 10px;
    }
}

/* Footer Geral */
.footer {
    background-color: #f8f8f8; /* Fundo claro */
    color: #333; /* Texto escuro */
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd; /* Linha separadora */
    font-size: 14px;
}

.footer .columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre as colunas */
    margin-bottom: 15px;
}

.footer .columns div {
    flex: 1;
    min-width: 150px; /* Largura mínima para colunas pequenas */
}

.footer h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
}

.footer p, .footer a {
    margin: 0;
    line-height: 1.6;
    color: #555;
    text-decoration: none;
}

.footer a:hover {
    color: #000; /* Cor preta no hover */
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

.footer p {
    margin-bottom: 10px;
}

/* Responsivo */
@media (max-width: 768px) {
    .footer .columns {
        flex-direction: column; /* Organiza as colunas verticalmente */
        align-items: center;
    }
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: none; /* Inicialmente escondido */
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#scroll-to-top:hover {
    background-color: #555;
    transform: scale(1.1); /* Efeito ao passar o mouse */
}
